<h1 class="ui center aligned header">Concentration</h1>
<div class="ui two column centered grid">
  <div class="four column centered row">
    <div class="column center aligned">
      <h2>{{statusMessage}}</h2>
    </div>
    <div class="column center aligned">
      <button class="ui labeled icon button" {{action 'reset'}}>
        <i class="repeat icon"></i>
        Reset
      </button>
    </div>
  </div>
</div>

<div class="ui container">
  {{flip-grid
    cards=cardsWithMetadata
    updateScore=(action 'updateScore')
  }}
</div>
